.name{
    font-size: 20px
}
.newchange{
font-size: 200px;
} 

.button{
    height: 50px;
    width: 50px;
}

.main-card{
    height: 200px;
    width: 100px;
    background-color: rgb(247, 201, 21);
    border-radius: solid 20px;
}